<!DOCTYPE html>
{% extends "admin.html" %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
       {% block content1 %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "./bookstyled.css" %}">
       
    </head>
   
    <body > 
      <main class="pb-5">
        <div class="page-header">
        <h1 class="">User Details</h1>
        </div>
      </main>
      <div class="table-responsive">
       <table width="100%">
        <thead>
        <tr>
       
        <th>username</th>
        <th>email</th>
        <th>PASSWORD</th>
        </tr>
      </thead>
        {%for i in result %}
        <tbody>
          <tr>
            
            <td>{{i.username}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            
          </tr>
        </tbody>
          {% endfor %}
       </table><br><br>
      </div>
      
        <script src="" async defer></script>
    </body>
    {% endblock content1 %}
</html>